<!DOCTYPE html><html class=no-js><head><meta charset=utf-8><title>Backbone Intro</title><meta name=description content=""><meta name=viewport content="width=device-width"><link rel="shortcut icon" href=/6df2b309.favicon.ico><!-- Place favicon.ico and apple-touch-icon.png in the root directory --><link rel=stylesheet href=styles/3fc1b9c5.main.css><body><div class=top-header><strong>MindAID</strong></div><div class=container></div><script type=text/template class=user-list-item><div class="name"><%= name ? name : "No Name" %></div>
            <div class="edit-button button">Edit</div>
            <div class="delete-button button">Delete</div></script><script type=text/template class=user-list-edit-item><div class="name"><input class="input-one" type="text" value="<%= name %>" placeholder="Type Your To-Do Edit"></div>
            <div class="save-button button">Save</div>
            <div class="delete-button button">Delete</div></script><script src=scripts/e0c99382.vendor.js></script><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. --><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');</script><script src=scripts/e1e76e1a.main.js></script>